[Desktop Entry]
Type=Application
Name=clip2disc
Exec=clip2disc
Icon=clip2disc
Comment=Clip2Disc - Record your screen
Categories=AudioVideo;
Terminal=false
